body{
    background-color: rgb(215, 215, 215);
    align-items: center;
    justify-content: center;
    display: flex;
}

body > div{
    background-color: white;
    height: 1300px;
    width: 600px;
    margin: 60px;
    border-radius: 50px;
    justify-content: center;
    display: grid;
    grid-template-rows: 135px 520px 480px 140px;
    box-shadow: 0px 20px 20px rgb(190, 190, 190);
}

/* 왼쪽 페이지 */

.headmenu{  
    width: 525px;
    height: 35px;
    margin-left: 15px;
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-arrow-left{
    font-size: 35px;
    order: 1;
}

.fa-magnifying-glass{
    font-size: 35px;
    order: 2;
}

.mainshow{
    display: grid;
    grid-template-rows: 370px 150px
}

.imgtitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imgtitle img{  
    border-radius: 100px;
    width: 200px;
    height: 200px;
    margin-bottom: 60px;
    box-shadow: 0px 20px 20px rgb(190, 190, 190);
}

.row1{
    margin: 0px;
    font-size: 60px;
    font-weight: bolder;
}

.row2{
    margin: 0px;
    font-size: 26px;
    font-weight: bolder;
    color: rgb(141, 144, 148);
}

.state, .shuffle, .like{
    align-items: center;
    justify-content: center;
    display: flex;
}

.shuffle, .like{
    border-radius: 35px;
    width: 190px;
    height: 70px;
}

.shuffle{
    background-color: rgb(41, 47, 54);
    margin-right: 10px;
    color: white;
    font-size: 28px;
    font-weight: bold;
}

.like{
    box-shadow: 0px 0px 10px  rgb(190, 190, 190);
    margin-left: 10px;   
    color: rgb(141, 144, 148);
    font-size: 24px;
    font-weight: bold;
}

.musiclist{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.list{
    border-radius: 15px;
    width: 520px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    font-weight: bolder;
}

.list p{
    margin: 0px;
}

.singerp{
    color: #8d9490;
}

.titlep{
    font-size: 28px;
}

.list img{
    border-radius: 20px;
    margin: 20px 25px 20px 25px;
    width: 80px;
    height: 80px;
}

.list div{
    width: 350px;
}

.list .icon{
    display: flex;
    width: 70px;
}

.fa-ellipsis-vertical{
    font-size: 35px;
}

.playcontroler{
    display: flex;
    align-items: center;
}

.playcontroler > div{
    border-radius: 60px;
    background-color: #292f36;
    width: 560px;
    height: 120px;
    display: flex;
    align-items: center;
    color: white;
}

.now{
    margin-left: 40px;
    width: 280px;
    font-size: 26px;
    font-weight: bolder;
}

.now p{
    margin: 0px;
}

.playcontroler div .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
}

.control .fa-backward-step, .fa-forward-step{ 
    font-size: 30px;
}

.fa-pause{
    font-size: 50px;
}

#playsong{
    box-shadow: 0px 0px 10px  rgb(190, 190, 190);
}




/* 오른쪽 페이지 */

.secondpage{
    grid-template-rows: 155px 720px 1fr 1fr;
    box-shadow: 0px 20px 20px rgb(190, 190, 190);
}

.headmenu2{  
    width: 525px;
    height: 35px;
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headmenu2 .fa-arrow-left{
    font-size: 35px;
    order: 1;
}

.headmenu2 .fa-ellipsis-vertical{
    font-size: 35px;
    order: 2;
}

.playtitle{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.playtitle img{
    border-radius: 30px;
    width: 440px;
    height: 440px;
    box-shadow: 0px 20px 20px rgb(190, 190, 190);
}

.singer{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content:end;
    flex-direction: column;
}

.row3{
    text-align: center;
    margin: 0px;
    font-size: 60px;
    font-weight: bolder;
}

.row4{
    text-align: center; 
    margin: 0px;
    font-size: 26px;
    font-weight: bolder;
    color: rgb(141, 144, 148);
}

.bar{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
}

.time{
    display: flex;
    justify-content: space-between;
    width: 520px;
    align-items: end;
}

.time p{
    margin: 0px;
    font-weight: bolder;
    color: rgb(141, 144, 148);
}

.pre{
    font-size: 24px;
    order: 1;
}

.post{
    font-size: 24px;
    order: 2;
}

.controlmenu{
    display: flex;
}

.conicon{
    flex: 1;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content:center;
}

.fa-rotate-right, .fa-backward-step, .fa-forward-step, .fa-shuffle{
    font-size: 35px;
}

.fa-circle-play{
    border-radius: 40px;
    font-size: 80px;
    box-shadow: 0px 20px 20px rgb(190, 190, 190);
}


/*가로 너비 축소시 폰트 줄이기*/
@media (max-width:1400px) {
    .row1, .row3{
        font-size: 30px;
    }
    .row2, .row4, .singerp, .like, .pre, .post{
        font-size: 13px;
    }
    .shuffle, .titlep{
        font-size: 14px;
    }
}